<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>
       
        
        <div *ngFor="let egreso of egresos" class="elemento limpiarEstilos" >
            <div class="elemento_descripcion">{{egreso.descripcion}}</div>
            <div class="right limpiarEstilos">
                <div class="elemento_valor">-{{egreso.valor | currency:'VZLA':'BsS':'1.2-2'}}</div>
                <div class="elemento_porcentaje">{{calcularPorcentaje(egreso) | percent}}</div>
                <div class="elemento_eliminar">
                    <button class="elemento_eliminar--btn"><i (click)="eliminarEgreso(egreso)" class="ion-ios-close-outline"></i></button>
                </div>
            </div>
        </div>
</div>