<div class="cabecero">
    <div class="presupuesto">
        <div class="presupuesto_titulo">
            Presupuesto Disponible:
        </div>
        
        <div class="presupuesto_valor">{{presupuestoTotal | currency:'VZLA':'BsS':'1.2-2'}}</div>
        
        <div class="presupuesto_ingreso limpiarEstilos">
            <div class="presupuesto_ingreso--texto">Ingresos</div>
            <div class="right">
                <div class="presupuesto_ingreso--valor">{{ingresoEotal | currency:'VZLA':'BsS':'1.2-2'}}</div>
                <div class="presupuesto_ingreso--porcentaje">&nbsp;</div>
            </div>
        </div>
        
        <div class="presupuesto_egreso limpiarEstilos">
            <div class="presupuesto_egreso--text">Egresos</div>
            <div class="right limpiarEstilos">
                <div class="presupuesto_egreso--valor">-{{egresoTotal | currency:'VZLA':'BsS':'1.2-2'}}</div>
                <div class="presupuesto_egreso--porcentaje">{{porcentajeTotal | percent}}</div>
            </div>
        </div>
    </div>
  </div>
  